<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>URL Shortener</title>
</head>
<body>
    <div>
        <h1>Anything</h1>
        <form action="/save_url" method="POST">
            <input type="text" name="url" placeholder="Paste URL here">
            <input type="text" name="description" placeholder="Brief Description">
            <input type="submit" value="Shorten URL">
        </form>
        {% for url in urls %}
            <p>Your link to : {{url.description}}</p>
            <a href="http://127.0.0.1:5000/{{ url.id }}"><h5>127.0.0.1:5000/{{ url.id }}</h5></a>  
        {% endfor %}
    </div>
</body>
</html>